/*
  ==================================================
     Table of contents
  ==================================================
*/

/* ======================================= 
1 - Left section Footer ==> Links 
2 - Right section Footer ==> Copyright
" - media query section footer
==========================================
 */

footer.flex {
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}
footer.flex .left-footer ul {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 20px;
}
footer.flex .left-footer ul li a {
  color: var(--subtitle);
  text-transform: capitalize;
  font-size: 0.9rem;
  transition: all 0.4s ease-in-out;
  font-weight: 400;
}
footer.flex .left-footer ul li a:hover {
  color: var(--blue);
  font-size: 1rem;
  font-weight: 500;
}
footer.flex .right-footer p {
  color: var(--footer);
}
/* 
  ==================================================
     Media query Main section
  ================================================== 
  */
@media (max-width: 600px) {
  footer.flex {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    gap: 30px;
  }
}
